.ui-pull-refresh{
    position: absolute;
    left:50%;
    top:-2rem;
    width:1.5rem;
    height:1.5rem;
    border-radius: 50%;
    box-shadow: 0px 3px 6px 3px #ccc;
    background-color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transform:translateX(-50%);
    .icon{
        position: relative;
        display: block;
        width:80%;
        height: 80%;
        background-color:#ce250f;
        border-radius:50%;
    }
}